$primaryTextColor: #004d40;
$sansSerifFontWithoutDefault: -apple-system, BlinkMacSystemFont, ui-sans-serif, 'PingFang SC', 'Segoe UI', '微软雅黑', Microsoft YaHei UI;
$sansSerifFont: $sansSerifFontWithoutDefault, sans-serif;
$monospaceFont: Menlo, "Cascadia Code", "Cascadia Mono", Consolas, $sansSerifFontWithoutDefault, monospace;

html, body {
  margin: 0;
  font-family: $sansSerifFont;
  scroll-behavior: smooth;
}

pre, pre code, input {
  font-family: $monospaceFont;
}

h1, h4, h5, h6 {
  margin: 8px 0;
}

h2 {
  margin: 13px 0;
}

h3 {
  margin: 10px 0;
}

.spacer {
  flex: 1;
}